# Created by .ignore support plugin (hsz.mobi)
/target
/.idea
/.idea/*
*/.idea/*
*.iml
*.ipr
*.iws
*.class
*.log
*.log.*
.idea
*/*.log
*/target/
*/target/*
*.DS_Store
*/.settings/
*/.settings/*
*.project
*.classpath
/.svn
/.svn/*
*/.svn
*/.svn/*
*/node_modules/*