<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <!--
    1.  The idref element
        The idref element is simply an error-proof way to pass the id (string value - not a reference) of another
        bean in the container to a <constructor-arg/> or <property/> element.
    -->
    <bean id="theTargetBean" class="section4_Dependencies.material.TargetBean"/>
    <bean id="theClientBean1" class="section4_Dependencies.material.ClientBean">
        <property name="targetName">
            <idref bean="theTargetBean" />
        </property>
    </bean>

    <!--
    2. The above bean definition snippet is exactly equivalent (at runtime) to the following snippet:
    -->
    <bean id="theClientBean2" class="section4_Dependencies.material.ClientBean">
        <property name="targetName" value="theTargetBean" />
    </bean>
</beans>